<h1>Edit User Data</h1>
<p>&nbsp;</p>
<div id="error_explanation">
	<%= error_messages_for :user %>
</div>
<div class: 'form-horizontal'>
	<%= render :partial => 'user', :locals => { :user => @user } %>
</div>
<hr />
<p><%= link_to "Cancel and return to All Users", users_path, { :class => "btn btn-primary" } %></p>
<p></p>