<h1>New User</h1>
<p>&nbsp;</p>
<div id="error_explanation">
	<%= error_messages_for :user %>
</div>
<%= render :partial => 'user', :locals => { :user => @user } %>


<hr />
<p><%= link_to "Cancel and return to All Users", users_path, { :class => "btn btn-primary" } %></p>
