<h1>Welcome to RailsBlog6!</h1>
<p>Please login or proceed as guest</p>

<% @users.each do |user| %>
  <%= form_tag sessions_path do %>
    <%= hidden_field_tag :user_id, user.id %>
    <%= submit_tag user.name %>
  <% end %>
<% end %>
