<h1>Edit Post</h1>

<div id="error_explanation">
	<%= error_messages_for :post %>
</div>
<div class='form-horizontal'>
  <%= render :partial => 'post', :locals => { :post => @post } %>
</div>

<hr />
<%= link_to "Cancel and return to All Posts", posts_path, { :class => "btn btn-primary" } %>