/* application.css.scss 
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
*/
@import 'bootstrap';
$my_red: #cc0000;

text_area{
	columns: 100;
	rows: 8;
}
.field_with_errors {
	color: $my_red;
}

#error_explanation {
	color: $my_red;
	width: 400px;
	h2 {
	  margin: 0;
	  font: 16px/24px bold serif;
	  background: $my_red;
	  color: white;
	}
	p {
	  font: 12px serif;
	  padding-left: 3px;
	}
	ul li {
	  font: 12px serif;
	}
}